.property1defaultChild {
  width: 239px;
  height: 325px;
  object-fit: cover;
}
.roundNeckCotton {
  /* position: absolute;
  top: 349px;
  left: 0; */
}

.rs599 {
  text-decoration: line-through;
  font-weight: 300;
}
.rs549 {
  font-weight: 600;
  color: var(--color-royalblue-100);
  margin-left: 0.3rem;
}
.rs599Parent {
  width: fit-content;
  height: 24px;
  color: var(--color-gray-300);
  display: flex;
}
.div {
  font-weight: 300;
}
.groupChild
{
  width: 116px;
  height: 20px;
  margin-right: 0.2rem;
}
.parent {
  width: 153px;
  height: 21px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
  display: flex;
}
.heartIcon {
  position: relative;
  top: 40px;
  left: 200px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.property1default {
  border-radius: var(--br-9xs);
  width: 239px;
  height: 500px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
  margin: 1rem;
}
.viewProduct {
  font-weight: 500;
  color: var(--color-white);
  text-shadow: 0 4px 32px rgba(0, 0, 0, 0.25);
  background-color: var(--color-royalblue-200);
  width: 239px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -7.6rem;
}